
  
<p  class="example-header" >
    <mat-toolbar color="primary" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="primary-logo">
        <img  mat-card-avatar src="assets/images/logo-dash.png" style="width: 250px; height: 60px;" class="om-logo">
      </div>
      
      <span class="example-spacer"></span>
      
<button mat-fab [matMenuTriggerFor]="logout" color="primary" ><mat-icon>account_circle</mat-icon></button>
<mat-menu #logout="matMenu" xPosition="after" class="menu-without-scroll">
  <button mat-menu-item [routerLink]="''"><mat-icon>exit_to_app</mat-icon>Logout</button>
</mat-menu>
     
    </mat-toolbar>
</p>
  <mat-sidenav-container class="example-container">
   
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
                 <mat-nav-list>
                    <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
                    <a mat-list-item routerLink="/app-setting" class="nav-anchor"><mat-icon>manage_accounts</mat-icon> <span class="nav-caption">Account Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/app-setting/building-management" class="nav-anchor"><mat-icon>business</mat-icon> <span class="nav-caption"> Building Management  </span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/app-setting/floor-management" class="nav-anchor"><mat-icon>apartment</mat-icon> <span class="nav-caption">Floor Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/app-setting/door-management" class="nav-anchor"><mat-icon>sensor_door</mat-icon> <span class="nav-caption">Door Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/app-setting/company-management" class="nav-anchor"><mat-icon>supervisor_account</mat-icon> <span class="nav-caption">Company Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/app-setting/fr-tablet" class="nav-anchor"><mat-icon>tablet</mat-icon> <span class="nav-caption">FR Tablet Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item class="nav-anchor" [matMenuTriggerFor]="settings"><mat-icon>settings_suggest</mat-icon><span class="nav-caption">Settings</span> 
                      <mat-icon class="nav-icon">play_arrow</mat-icon></a>
                    <mat-menu #settings="matMenu"  [overlapTrigger]="false"  xPosition="after" yPosition="below">
                      <button mat-menu-item class="nav-anchor"><mat-icon>monitor</mat-icon> <span class="nav-caption">Suntec App Server</span></button>
                      <mat-divider></mat-divider>
                        <button routerLink="/app-setting/acs-server" mat-menu-item class="nav-anchor"><mat-icon>computer</mat-icon> <span class="nav-caption">ACS Server</span></button>
                        <mat-divider></mat-divider>
                          <button routerLink="/app-setting/smtp-setting" mat-menu-item class="nav-anchor"><mat-icon>email</mat-icon> <span class="nav-caption">SMTP</span></button>
                          <mat-divider></mat-divider>
                          <button mat-menu-item class="nav-anchor"><mat-icon>perm_identity</mat-icon> <span class="nav-caption">VMS</span></button>
                          <mat-divider></mat-divider>
                            <button mat-menu-item class="nav-anchor"><mat-icon>perm_device_information</mat-icon> <span class="nav-caption">FRS</span></button>
                            <mat-divider></mat-divider>
                              <button routerLink="/app-setting/email-notification" mat-menu-item class="nav-anchor"><mat-icon>mark_email_unread</mat-icon> <span class="nav-caption">Email Notification</span></button>
                              <mat-divider></mat-divider>
                                <button mat-menu-item class="nav-anchor"><mat-icon>payment</mat-icon> <span class="nav-caption">Licence</span></button>
                      </mat-menu>
                      <mat-divider></mat-divider>
                      <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>note_add</mat-icon><span class="nav-caption">Logs</span></a>
                      <mat-divider></mat-divider>
                    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet></router-outlet> 
      </mat-sidenav-content>
    </mat-sidenav-container>
   

