
  
<p  class="example-header" >
    <mat-toolbar color="primary" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="primary-logo">
        <img  mat-card-avatar src="assets/images/logo-dash.png" style="width: 250px; height: 60px;" class="om-logo">
      </div>
      
      <span class="example-spacer"></span>
      
<button mat-fab [matMenuTriggerFor]="logout" color="primary" ><mat-icon>account_circle</mat-icon></button>
<mat-menu #logout="matMenu" xPosition="after" class="menu-without-scroll">
  <button mat-menu-item [routerLink]="''"><mat-icon>exit_to_app</mat-icon>Logout</button>
</mat-menu>
     
    </mat-toolbar>
</p>
  <mat-sidenav-container class="example-container">
   
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
                 <mat-nav-list>
                    <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
                    <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>manage_accounts</mat-icon> <span class="nav-caption">Account Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>business</mat-icon> <span class="nav-caption"> Building Management  </span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>apartment</mat-icon> <span class="nav-caption">Floor Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>sensor_door</mat-icon> <span class="nav-caption">Door Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>supervisor_account</mat-icon> <span class="nav-caption">Company Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>tablet</mat-icon> <span class="nav-caption">FR Tablet Management</span></a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="." class="nav-anchor" [matMenuTriggerFor]="settings"><mat-icon>settings_suggest</mat-icon><span class="nav-caption">Settings</span> 
                      <mat-icon class="nav-icon">play_arrow</mat-icon></a>
                    <mat-menu #settings="matMenu"  [overlapTrigger]="false"  xPosition="after" yPosition="below">
                      <button mat-menu-item class="nav-anchor"><mat-icon>monitor</mat-icon> <span class="nav-caption">Suntec App Server</span></button>
                      <mat-divider></mat-divider>
                        <button mat-menu-item class="nav-anchor"><mat-icon>computer</mat-icon> <span class="nav-caption">ACS Server</span></button>
                        <mat-divider></mat-divider>
                          <button mat-menu-item class="nav-anchor"><mat-icon>email</mat-icon> <span class="nav-caption">SMTP</span></button>
                          <mat-divider></mat-divider>
                          <button mat-menu-item class="nav-anchor"><mat-icon>perm_identity</mat-icon> <span class="nav-caption">VMS</span></button>
                          <mat-divider></mat-divider>
                            <button mat-menu-item class="nav-anchor"><mat-icon>perm_device_information</mat-icon> <span class="nav-caption">FRS</span></button>
                            <mat-divider></mat-divider>
                              <button mat-menu-item class="nav-anchor"><mat-icon>mark_email_unread</mat-icon> <span class="nav-caption">Email Notification</span></button>
                              <mat-divider></mat-divider>
                                <button mat-menu-item class="nav-anchor"><mat-icon>payment</mat-icon> <span class="nav-caption">Licence</span></button>
                      </mat-menu>
                      <mat-divider></mat-divider>
                      <a mat-list-item routerLink="." class="nav-anchor"><mat-icon>note_add</mat-icon><span class="nav-caption">Logs</span></a>
                      <mat-divider></mat-divider>
                    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="labelDiv"><label>Account Management</label></div>

      <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Account List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-elevation-z8 tableDiv">
            <mat-form-field>
         <mat-label>Filter</mat-label>
         <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
       </mat-form-field>
             <table mat-table [dataSource]="dataSource">
                       
               <ng-container matColumnDef="Position">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                 <td mat-cell *matCellDef="let element"> {{element.position}} </td>
               </ng-container>
                        
               <ng-container matColumnDef="Name">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                 <td mat-cell *matCellDef="let element"> {{element.name}} </td>
               </ng-container>
                       
               <ng-container matColumnDef="Roles" >
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
                 <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
               </ng-container>
                         
               <ng-container matColumnDef="Floor">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Floor </th>
                 <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
               </ng-container>
 
               <ng-container matColumnDef="Company">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                 <td mat-cell *matCellDef="let element"> {{element.company}} </td>
               </ng-container>
 
               <ng-container matColumnDef="Email">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                 <td mat-cell *matCellDef="let element"> {{element.email}} </td>
               </ng-container>
           
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
               <tr class="mat-row" *matNoDataRow>
                 <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
               </tr>
             </table>
           
             <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
           </div>
        </mat-card-content>
        </mat-card>
        

                </mat-sidenav-content>
    </mat-sidenav-container>

