a {
    color: black;
  }

  .span-header{
    font-size: 120% ;
  }

  .example-card{
    margin: 3rem;
  }

  mat-card-header{
    height: 3rem;
}
h1{
    margin-top: 0.8rem;
    font-size: 120%;
  }

  .form-element {
    padding: 25px 30px 5px 2px !important;
    width: 100%;
  }

  .flex-item button{
      margin: 2rem 1rem 1rem 1rem;
      padding: 0 2rem 0 2rem;
  }