table {
  height: fit-content;
  width: 100%;
}
.mat-header-cell {
  background-color:#3f51b5;
  color: white;
}

.mat-cell {
background-color: rgb(252, 245, 245);
}
.tableDiv{
  width: 100%;
  margin-top: 0.1rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  // overflow: scroll;
}
mat-card-content{
    padding: 1.5rem;
}
.labelDiv{
  margin-top: 2rem;
  margin-left: 10px;
 }

 .mat-form-field {
 // font-size: 16px;
  width: 100%;
}

a {
  color: black;
}

.example-card{
  margin: 3rem;
}

.table-button{
  margin: 0.2rem;
}

::ng-deep .mat-menu-panel{
  margin-left: 0rem !important;
  margin-top:0rem !important;
}

.span-header{
  font-size: 120% ;
}
h1{
  margin-top: 1rem;
  font-size: 120%;
}

mat-card-header{
    height: 3.5rem;
}

.form-element {
  padding: 5px 30px 25px 2px;
  width: 100%;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 15px;
  height: 10px;
}

.upload-file{
  padding: 0rem 3rem 0rem 2rem;
  margin-left: 3rem;
}

.mat-form-field {
  margin-top: 16px;
}

mat-horizontal-stepper{
  margin: 0rem !important;
}

.container{
  margin-top: -1rem;
}
mat-paginator{
  width: 100%;
   overflow: auto;
}

.example-margin {
  margin: 0 10px;
}
