table {
  height: fit-content;
  width: 100%;
}
.mat-header-cell {
  background-color:#3f51b5;
  color: white;
}

.mat-cell {
background-color: rgb(252, 245, 245);
}
.tableDiv{
  margin-top: 2rem !important;
  margin-left: 2rem;
  margin-right: 2rem;
}
mat-card-content{
    padding: 1.5rem;
}
.labelDiv{
  margin-top: 10px;
  margin-left: 10px;
 }

 .mat-form-field {
 // font-size: 16px;
  width: 100%;
}

a {
  color: black;
}

.example-card{
  margin: 3rem;
}

.table-button{
  margin: 0.2rem;
}

::ng-deep .mat-menu-panel{
  margin-left: 0rem !important;
  margin-top:0rem !important;
}

.span-header{
  font-size: 120% ;
}
h1{
  margin-top: 1rem;
  font-size: 120%;
}

mat-card-header{
    height: 3.5rem;
}

