<mat-card>
    <a  routerLink="/app-select"><mat-icon>home</mat-icon></a><span>/ </span><a  routerLink="."><span class="span-header">Settings</span></a><span>/ </span><a routerLink="."><span class="span-header">ACS Server</span></a> 
</mat-card>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-card class="example-card">
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-card-header> 
      <h1>Card Range</h1>
  </mat-card-header>
 <mat-divider></mat-divider>
 <mat-divider></mat-divider>
 <mat-divider></mat-divider>
 <mat-card-content>
    <div fxLayout="row">
    <mat-form-field class="form-element">
        <mat-label>Staff card range Start</mat-label>
        <input matInput placeholder="Add staff card range start" [(ngModel)]="rangeData.staffCardRangeStart" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field  class="form-element">
        <mat-label>Staff card range end</mat-label>
        <input matInput placeholder="Add staff card range end" [(ngModel)]="rangeData.staffCardRangeEnd" autocomplete="off" required>
      </mat-form-field>
</div>
<div fxLayout="row">
    <mat-form-field  class="form-element">
        <mat-label>Visitor card range start</mat-label>
        <input matInput placeholder="Add visitor card range start" [(ngModel)]="rangeData.visitorCardRangeStart" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field  class="form-element">
        <mat-label>Visitor card range end</mat-label>
        <input matInput placeholder="Add visitor card range end" [(ngModel)]="rangeData.visitorCardRangeEnd" autocomplete="off" required>
      </mat-form-field>
</div>
<div fxLayout="row">
        <mat-slide-toggle color="primary" [(ngModel)]="rangeData.thirdPartyAcs" >Using 3rd party ACS</mat-slide-toggle>
</div>
 </mat-card-content>
 
 <mat-card-header> 
    <div fxFlex fxLayoutAlign="end center" class="flex-item" >
        <button mat-raised-button color="primary" (click)="SaveData()">Save</button>
        <button mat-raised-button color="warn" (click)="ResetRangeData()">Reset</button>
        </div>
</mat-card-header>

</mat-card>

<mat-card class="example-card">
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-card-header> 
    <h1>ACS server Setting</h1>
</mat-card-header>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-card-content>
  <div fxLayout="row">
  <mat-form-field class="form-element">
      <mat-label>IP Address</mat-label>
      <input matInput placeholder="Add ip Address" [(ngModel)]="acsData.ipAddress" autocomplete="off" required>
    </mat-form-field>
    <mat-form-field  class="form-element">
      <mat-label>HTTP Port</mat-label>
      <input matInput placeholder="Add http port" [(ngModel)]="acsData.httpPort" autocomplete="off" required>
    </mat-form-field>
</div>
<div fxLayout="row">
  <mat-form-field  class="form-element">
      <mat-label>Service Name</mat-label>
      <input matInput placeholder="Add service range" [(ngModel)]="acsData.serviceName" autocomplete="off" required>
    </mat-form-field>
</div>

</mat-card-content>

<mat-card-header> 
  <div fxFlex fxLayoutAlign="end center" class="flex-item" >
      <button mat-raised-button color="primary" (click)="SaveAcsData()">Save</button>
      <button mat-raised-button color="warn" (click)="ResetAcsData()">Reset</button>
      </div>
</mat-card-header>

</mat-card>

