<h1 mat-dialog-title><strong>{{action}}</strong> - Fr-Tablet Data</h1>
<div mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate" fxLayout="column" fxLayoutAlign="center"> 
    <mat-form-field>
      <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Protocol" matInput [(ngModel)]="local_data.protocol">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>select Floor</mat-label>
      <mat-select [(ngModel)]="local_data.floorName" >
        <mat-option *ngFor="let data of local_data.floorData" [value]="data"  >{{data.floor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} IP" matInput [(ngModel)]="local_data.ip">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Port" matInput [(ngModel)]="local_data.port">
    </mat-form-field>
    <mat-form-field>
        <input placeholder="{{action}} Account" matInput [(ngModel)]="local_data.account">
      </mat-form-field>
    </div><ng-template #elseTemplate>
      Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary"  (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>