
  
  <p>
    <mat-toolbar color="primary" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="primary-logo">
        <img  mat-card-avatar src="assets/images/logo-dash.png" style="width: 250px; height: 60px;" class="om-logo">
      </div>
      
      <span class="example-spacer"></span>
      
      <button mat-fab [routerLink]="'/app-setting'" color="primary"><mat-icon>add_circle_outline</mat-icon> </button>
     <!-- <button mat-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>account_circle</mat-icon>Users</button>
  <button mat-menu-item><mat-icon>settings</mat-icon>setting</button>
  <button mat-menu-item><mat-icon>language</mat-icon>Language</button>
  <button mat-menu-item><mat-icon>notifications</mat-icon>Notifications</button>
</mat-menu> -->
      
<button mat-fab [matMenuTriggerFor]="logout" color="primary" ><mat-icon>account_circle</mat-icon></button>
<mat-menu #logout="matMenu" xPosition="after" class="menu-without-scroll">
  <button mat-menu-item [routerLink]="''"><mat-icon>exit_to_app</mat-icon>Logout</button>
</mat-menu>
     
    </mat-toolbar>
  </p>
  <div fxLayoutAlign="center center" class="app-main" > 
    <ng-container *ngFor="let item of titles">
      <mat-card (click)="select(item)"  fxFlex="15 10" 
        [class.mat-elevation-z2]="!item.isSelected" 
        [class.mat-elevation-z8]="item.isSelected">
        <mat-card-header>
          
          <mat-card-title> {{item.detail}}</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
          <img  mat-card-avatar fxLayoutAlign="center" src={{item.image}} style="width: 250px; height: 250px;" alt="Photo of a Shiba Inu">
        </mat-card-content>
      </mat-card><br>
      </ng-container>
  </div>
  

  