table {
    height: fit-content;
    width: 100%;
  }
  th{
    font-weight: bold;
    background-color:#ffffff
  }
  .tableDiv{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  mat-card-content{
      padding: 1.5rem;
  }
  .labelDiv{
    margin-top: 10px;
    margin-left: 10px;
   }
  
   .mat-form-field {
   // font-size: 16px;
    width: 100%;
  }

  a {
    color: black;
  }

  .example-card{
    margin: 3rem;
  }

  .table-button{
    margin: 0.2rem;
  }

  ::ng-deep .mat-menu-panel{
    margin-left: 0rem !important;
    margin-top:0rem !important;
  }
  
  .span-header{
    font-size: 120% ;
  }
  h1{
    margin-top: 1.5rem;
    font-size: 120%;
  }

  mat-card-header{
      height: 3.5rem;
  }

 